spring:
  application:
    name: ai_demo

  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: phi
          temperature: 0.3  # locally persisted by Spring AI

server:
  port: 9092
  servlet:
    context-path: /api
