spring:
  application:
    name: ai_demo
  profiles:
    active: ollama
  ai:
    ollama:
      container:
        enabled: false
    vectorstore:
      qdrant:
        host: 704bf5f1-799c-41b3-8a46-67ef46378ae1.us-east4-0.gcp.cloud.qdrant.io  # NOT uri!
        port: 6334  # GRPC port, NOT 6333!
        api-key: ${QDRANT_API_KEY}
        collection-name: documents
        use-tls: true
        initialize-schema: false # Add this!
server:
  port: 9092
  servlet:
    context-path: /api