spring:
  config:
    activate:
      on-profile: ollama
  ai:
    model:
      embedding: ollama
    ollama:
      base-url: http://localhost:11434
      container:
        enabled: false  # MUST BE HERE TOO!
      embedding:
        options:
          model: nomic-embed-text
          temperature: 0.3
      chat:
        options:
          model: phi
          temperature: 0.3